# Ignore the build directory completely
build/

# Visual Studio files solution/project and build files
*.sln
*.ncb
*.suo
*.vcproj*
Debug
Release

# CMake build files
CMakeLocal.txt
CMakeFiles
CMakeCache.txt
cmake_install.cmake
